<!-- 
<button (click)="name()">Click Me</button>
<br>
<input type="text" (keyup)="getName()">
<br>
<input type="text" (keydown)="getN()">
<br>
<button (mouseover)="getM()">Cilck</button> -->

<!-- <input type="text" [value]="name" [disabled]="disabledBox">
<button (click)="enableInput()">Enable</button>
<br>
<input type="text" [placeholder]="dob" [disabled]="disabledp">
<button (click)="enablePlace()">Enable</button> -->

<!-- <h1 *ngIf="time else elseBlock">Good Morning! </h1>
<ng-template #elseBlock>

<h1 #elseBlock>Good Night!</h1>
</ng-template>
<div *ngIf="time; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>Have a nice Day!.</ng-template>
<ng-template #elseBlock>See you tomorrow!.</ng-template> -->

<!-- <app-nav-bar></app-nav-bar> -->

<!-- <h1 *ngIf="day=='Morning' else elseBlock" >Hello !</h1>
<ng-template #elseBlock>
    <h1>Good Bye !</h1>
</ng-template>

<h3 *ngFor="let name of names">{{name}}</h3>

<h2 *ngFor="let nam of veh">{{nam.brand}}
    {{nam.car1}}
    {{nam.car}}
</h2> -->

<!-- <h1 style="color: brown;">Hello</h1>
<h1 [ngStyle]="{'color':'green'}">Hello</h1>
<h1 [ngStyle]="{'color':tcolor}">Hello</h1>
<h1 [ngStyle]="{'background-color':bgcolor==='green'?'orange':'pink'}">Good Morning</h1>

<h1 [ngClass]="'chcolor'">Welcome</h1>
<h1 [ngClass]="'chcolor fnt'">Welcome</h1>
<h1 [ngClass]="abc">Welcome</h1>
<h1 [ngClass]="abc==='nft'?'chcolor':'fnt'">Welcome</h1> -->

<!-- <h1 appHighlight>Good Morning</h1>

<h1>{{'UPPER'| lowercase}}</h1>
<h1>{{'lower'| uppercase}}</h1>
<h1>{{'234'| currency}}</h1>
<h1>{{dateExmp|date:'long'}}</h1>
<h1>{{dateExmp|date:'dd-MM-yyyy'}}</h1>
<h1>{{'0.823455'|percent:'2.1-2'}}</h1>
<h1 appHighlight>{{dateExmp|date:'long'|uppercase}}</h1> -->
<!-- <app-login ></app-login> -->


<!-- <div class="abc">
 <div class="container">
    <div class="main">
        <h1 class="header">Get <span>insights</span> that help your business grow.</h1>
        <p class="header_text">Discover the benefits of data analytics and make better decisions regarding revenue, customer 
        experience, and overall efficiency.</p>
        <div class="stats">
          <div class="details">
            <h2>10k+</h2>
            <p>templates</p>
          </div>    
          <div class="details">
            <h2>314</h2>
            <p>companies</p>
          </div>  
          <div class="details">
            <h2>12M+</h2>
            <p>queries</p>
          </div>
        </div>
        <div class="image_container">
            <img src="C:\Users\00005730\Downloads" alt="">
        </div>

    </div>
    

</div>
</div> -->


<!-- <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    <h1>Employee Intrest Survey Form</h1>
    <label for="flname">Enter your Name:</label>
    <input type="text" id="flname" name="flname" [(ngModel)]="flname">
    <br>
    <br>
    <label for="dept">Enter your Department:</label>
    <input type="text" id="dept" name="dept" [(ngModel)]="dept">
    <br>
    <br> -->
    <!-- <label>Tell us a little about yourself:</label>
    <textarea name="abt" id="abt" [(ngModel)]="abt" cols="30" rows="5"></textarea>
    <br>
    <br>
    <label>Do you exercise at home ?</label>
    <input type="radio" id="yes">
    <label for="yes">Yes</label>
    <input type="radio" id="no">
    <label for="no">No</label>
    <p>How do you like to read about your favorite topics ?</p>
    <input type="checkbox" id="a">
    <label for="a">Books</label>
    <input type="checkbox" id="b">
    <label for="b">Online Resources</label>
    <input type="checkbox" id="c">
    <label for="c">Phone Apps</label>
    <input type="checkbox" id="d">
    <label for="d">Magazines</label>
    <br>
    <br>
    <label for="">What genre of movies do you like ?</label>
    <select name="" id="">
    <option value="">Comedy</option>
    <option value="">Action</option>
    <option value="">Horror</option>
  </select>
  <br>
  <br> -->
  <!-- <button>Submit Form</button>
  </form> -->

  <app-nav-bar>
    
  </app-nav-bar>