<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div> -->
<div class="prdt">
<div class="card" style="width: 18rem;">
    <img src="C:\Users\00005730\Desktop\m-project\src\assets\OIP.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">CASUAL SHOES</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="bynw"> <a href="" routerLink="casual-shoes" class="btn btn-primary">Buy Now</a></div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SPORTS SHOES</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="bynw"><a href="" routerLink="sports-shoes" class="btn btn-primary">Buy Now</a></div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">FORMALS SHOES</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     <div class="bynw"> <a href="" routerLink="formals-shoes" class="btn btn-primary">Buy Now</a></div>
    </div>
  </div>
</div>